/* Vispārējie iestatījumi */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fb; /* Gaiša pelēkā fona krāsa */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Nodrošina, ka visi elementi būs augšpusē */
    align-items: flex-start; /* Nodrošina, ka visi elementi būs virsotnē */
    min-height: 100vh;
    flex-direction: column; /* Uzstādām izkārtojumu vertikāli */
    width: 100%; /* Nodrošina, ka platums aizpilda visu ekrānu */
}

/* Container - tests */
.container {
    background-color: white;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    font-size: 1.1em;
    margin: 0 auto; /* Horizontālā centrēšana */
    margin-bottom: 40px; /* Atstāj vietu rekvizītiem apakšā */
}

h1 {
    text-align: center;
    color: #D22B2B;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333; /* Tumši pelēka krāsa tekstam */
    font-weight: 600;
}

.answers {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.answer {
    margin: 10px 0;
    padding: 12px 18px;
    border-radius: 6px;
    background-color: #f7f9fc;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.1em;
}

.answer:hover {
    background-color: #e1e8f2;
    border-color: #b8c7e0;
}

.answer.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.answer.incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.feedback {
    margin-top: 10px;
    font-size: 0.9em;
    line-height: 1.5;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px;
    border-radius: 5px;
    color: #856404;
}

.shuffle-button {
    display: block;
    margin: 30px auto;
    padding: 12px 20px;
    background-color: #D22B2B; /* RSU sarkans */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shuffle-button:hover {
    background-color: #b81f1f; /* Tumšāks sarkans */
}
